[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
argon2-cffi = "*"
openai-whisper = {git = "https://github.com/openai/whisper.git"}
spark-nlp = "==5.5.3"
pyspark = "*"
numpy = "*"
transformers = {extras = ["torch"], version = "*"}
hf-xet = "*"
jinja2 = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.13"
